body {
    background-color: black;
}
div {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
img {
    border: 5px white solid;
    width: 100%;
}
h1 {
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    width: 100%;
}
p {
    color: white;
    text-align: center;
    width: 100%;
}